.topnav {
  background-color: #333;
  border-radius: 7px;
  overflow: hidden;
  border: 3px solid;
  border-radius: 7px;
  padding: 5px;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  font-weight: bold;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: white;
  border-radius: 4px;
  color: black;
}
.topnav a.active {
  background-color: #04AA6D;
  border-radius: 4px;
  color: white;
  font-weight: bold;
}
.center{
  margin-left: auto;
  margin-right: auto;
}
th {
  background-color: #04AA6D;
  color: white;
  text-align: center;
  font-size: 22PX;
}
th, td {
  padding: 15px;
}
h2{
    color: blue;
}
table, th, td {
    border:1.5px solid black;
    border-collapse: collapse;
  }
  td {
    background-color: white;
  }
