.center{
  margin-left: auto;
  margin-right: auto;
}
.header {
  padding: 5px;
  background: #1abc9c;
  color: white;
  font-size: 8px;
}
th {
  text-align: center;
}
th, td {
  padding: 15px;
}
h2{
    color: blue;
}
table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
  }
  th, td {
    background-color: #96D4D4;
  }